.App {
  text-align: center;
}

.centered-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.centered-column button {
  width: 50px
}
.fighter-box {
  background-image: linear-gradient(150deg  , #37b6ea, #f9d045);
}
.player-box {
  width: 200px;
  height: 300px;
  background: #fe3636;
  margin-bottom: 25px;
  border: 1px solid black;
  position: relative;
  display: inline-flex;
} .player-box img {
  clip-path: inset(0px 0px 22px 0px);
  width: 93px;
  height: 320px;
  border-right: 1px solid grey;
}
.blue {
  background: #74a9f9;
}
.win-circle {
  border-radius: 50%;
  border: 1px solid black;
  background: gold;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.perfect-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
